<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">coditas</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid mt-3">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-lg-4 offset-lg-1">Key Skills
                    <i class="bi bi-bag-check-fill"></i>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="fullName">Full Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="fullName" placeholder="Enter Full Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="profession">Profession</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="profession" placeholder="Enter Profession">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-6" for="profileSummary">Profile Summary</label>
                        <div class="col-lg-10">
                            <textarea type="text" class="form-control" id="profileSummary" placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="programmingLangFromework">Programming
                            Language/Framework</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="programmingLangFromework"
                                placeholder="Name of known language/Framework">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="databaseName">Version Control Systems</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="databaseName"
                                placeholder="Name of software Systems">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="databaseName">Database</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="databaseName"
                                placeholder="Name of technologies worked with">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="databaseName">Cloud Technologies</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="databaseName"
                                placeholder="Name of technologies worked on">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="databaseName">Operating Systems</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="databaseName"
                                placeholder="Names of systems worked on">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4 offset-lg-1">Experience
                    <i class="bi bi-bag-check-fill"></i>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="projectNameOne">Project 1 Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="projectNameOne" placeholder="Project worked on">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4" for="roleInProjectOne">Role in the Project</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="roleInProjectOne" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-8" for="projOneDuration">Duration</label>
                        <div class="col-sm-10">
                            From <input type="date" id="projOneDurationFrom">
                            To <input type="date" id="projOneDurationTo">
                            <div></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="projectNameTwo">Project 2 Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="projectNameTwo" placeholder="Project worked on">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4" for="roleInProjectTwo">Role in the Project</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="roleInProjectTwo" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-8" for="projTwoDuration">Duration</label>
                        <div class="col-sm-10">
                            From <input type="date" id="projTwoDurationFrom">
                            To <input type="date" id="projTwoDurationTo">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4 offset-lg-1">Education
                    <i class="bi bi-bag-check-fill"></i>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="lastQualification">Name of last qualification</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastQualification"
                                placeholder="e.g Bachelor of Engineering">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="nameOfInstitution">Name of Institution</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nameOfInstitution" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="yearOfPassing">Year of Passing</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="yearOfPassing" placeholder="DD/MM/YYYY">
                        </div>
                    </div>
                    <!-- <div class="form-group">
                    <label class="control-label col-sm-6" for="lastQualification">Name of last qualification</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastQualification"
                            placeholder="e.g Bachelor of Engineering">
                    </div>
                </div> -->
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4 offset-lg-1">Achievements
                    <i class="bi bi-bag-check-fill"></i>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-lg-6" for="certifierName">Platform/Certifier Name</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" id="certifierName"
                                placeholder="e.g Oragnization that issued">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-6" for="achievementDescr">Description of achievement</label>
                        <div class="col-lg-10">
                            <textarea type="text" class="form-control" id="achievementDescr"
                                placeholder="Single line description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group offset-lg-5 col-lg-4">
                <div class="btn">
                    <button type="submit" class="btn btn-primary">Print</button>
                </div>
            </div>
        </form>
    </div>
</div>