<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <img width="130px" height="30px" src="assets/coditas_image.jpg">
                </a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="hiddenFormContent">
            <div class="row">
                <div class="col-sm-10 offset-sm-1">
                    <h2 class="headingStyle" id="showHeadingOnlyOnPrint">{{candidateName}}</h2>
                    <p class="candidateDesignationStyle" id="showParaOnlyOnPrint">{{candidateDesignation}}</p>
                    <p class="profileSummaryInPara">{{profileSummaryInPara}}</p>
                </div>
            </div>
        </div>
        <form class="form-horizontal" [formGroup]="profileForm" (ngSubmit)="onPrint()">
            <div class="row">
                <div class="col-sm-4 offset-sm-1   offset-lg-2 col-lg-3 subHeadingDesign">Key Skills
                    <i class="bi bi-bookmark-fill"></i>
                </div>
                <div class="col-sm-6">
                    <div class="form-group hideNameAndProfession">
                        <label class="control-label col-sm-4" for="fullName">Full Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="fullName" placeholder="Enter Full Name"
                                autocomplete="off" [(ngModel)]="candidateName" formControlName="fullName">
                        </div>
                    </div>
                    <div class="text-danger col-lg-6"
                        *ngIf="profileForm.get('fullName')?.errors?.['dirty'] || profileForm.get('fullName')?.errors?.['touched']">
                        <div *ngIf="profileForm.get('fullName')?.errors?.['required']">This is a required field
                        </div>
                    </div>
                    <div class="form-group hideNameAndProfession">
                        <label class="control-label col-sm-2 hideLabels" for="profession">Profession</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="profession" placeholder="Enter Profession"
                                autocomplete="off" [(ngModel)]="candidateDesignation" formControlName="profession">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-8" for="programmingLangFromework">Programming
                            language/Framework</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="programmingLangFromework"
                                placeholder="Name of known language/Framework" autocomplete="off"
                                formControlName="programmingLangFromework">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-6" for="versionControlName">Version Control Systems</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="versionControlName"
                                placeholder="Name of software Systems" autocomplete="off"
                                formControlName="versionControlName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4" for="databaseName">Database</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="databaseName"
                                placeholder="Name of technologies worked with" autocomplete="off"
                                formControlName="databaseName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4" for="cloudTechnologiesName">Cloud Technologies</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="cloudTechnologiesName"
                                placeholder="Name of technologies worked on" autocomplete="off"
                                formControlName="cloudTechnologiesName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4" for="operatingSystemName">Operating Systems</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="operatingSystemName"
                                placeholder="Names of systems worked on" autocomplete="off"
                                formControlName="operatingSystemName">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4 offset-sm-1 offset-lg-2 col-lg-3 subHeadingDesign">Experience
                    <i class="bi bi-bag-check-fill"></i>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="projectNameOne">Project 1 Name</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" id="projectNameOne" autocomplete="off"
                                formControlName="projectNameOne" minlength=20 maxlength=500 rows="3"
                                placeholder="A very brief description of the project  (e.g. The project involved creating a website for an e-commerce brand.)"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="roleInProjectOne">Role in the Project</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="roleInProjectOne"
                                placeholder="Role in the project" autocomplete="off" formControlName="roleInProjectOne">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-8" for="projOneDuration">Duration</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="projOneDuration"
                                placeholder="Enter with months/years" autocomplete="off"
                                formControlName="projOneDuration">
                        </div>
                    </div>
                    <div *ngIf="addMoreProjects">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="projectNameTwo">Project 2 Name</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" id="projectNameTwo" autocomplete="off"
                                    formControlName="projectNameTwo" minlength=20 maxlength=500 rows="3"
                                    placeholder="A very brief description of the project  (e.g. The project involved creating a website for an e-commerce brand.)"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-4" for="roleInProjectTwo">Role in the Project</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="roleInProjectTwo"
                                    placeholder="Role in Project" autocomplete="off" formControlName="roleInProjectTwo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-8" for="projTwoDuration">Duration</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="projTwoDuration"
                                    placeholder="Enter with months/years" autocomplete="off"
                                    formControlName="projTwoDuration">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-7 hideAddMoreProjects">
                        <i class="bi bi-plus" (click)="onAddMoreProject()">Add More Projects</i>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4 offset-sm-1 offset-lg-2 col-lg-3 subHeadingDesign">Education
                    <i class="bi bi-book-fill"></i>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="lastQualificationName">Name of last
                            qualification</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastQualificationName"
                                placeholder="e.g Bachelor of Engineering" autocomplete="off"
                                formControlName="lastQualificationName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="nameOfInstitution">Name of Institution</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nameOfInstitution"
                                placeholder="Enter name of Institution" autocomplete="off"
                                formControlName="nameOfInstitution">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="yearOfPassing">Year of Passing</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="yearOfPassing" placeholder="DD/MM/YYYY"
                                autocomplete="off" formControlName="yearOfPassing">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4 offset-sm-1 offset-lg-2 col-lg-3 subHeadingDesign">Achievements
                    <i class="bi bi-star-fill"></i>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="certifierName">Platform/Certifier Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="certifierName"
                                placeholder="e.g Oragnization that issued" autocomplete="off"
                                formControlName="certifierName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6" for="achievementDescr">Description of achievement</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" id="achievementDescr"
                                placeholder="Single line description" autocomplete="off"
                                formControlName="achievementDescr"></textarea>
                        </div>
                    </div>
                    <div class="form-group hideProfileSummaryOnPrint">
                        <label class="control-label col-sm-6" for="profileSummary">Profile Summary</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" id="profileSummary" autocomplete="off"
                                formControlName="profileSummary" minlength=20 maxlength=500 rows="6" cols="10"
                                [(ngModel)]="profileSummaryInPara" (keyup)="checkRequiredFields()"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group offset-lg-5 col-lg-7">
                <div class="btn">
                    <button type="submit" class="btn btn-primary">Print</button>
                </div>
                <div class="btn offset-1">
                    <button type="reset" class="btn btn-primary" (click)="onReset()">Reset</button>
                </div>
                <div class="text-danger" *ngIf="errorMessage"><span>{{errorMessage}}</span></div>
            </div>
        </form>
    </div>
</div>