.a {
  position: relative;
  top: -10px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.form-horizontal {
  margin-top: 40px;
}

div>label {
  font-weight: bold;
}

.btn {
  width: 150px;
}

.subHeadingDesign {
  /* color: hwb(204 13% 4%); */
  color: hwb(204 8% 9%);
  font-weight: medium;
  font-family: sans-serif;
  font-size: large;
}

.hiddenFormContent {
  display: none;
}

.candidateDesignationStyle {
  font-size: x-large;
}

.headingStyle {
  font-weight: bolder;
}

@media print {

  input[type=text],
  textarea {
    display: inline-block;
    border: none;
  }

  .hiddenFormContent {
    display: inline-block;
  }

  .hideProfileSummaryOnPrint {
    display: none;
  }

  input[type=date],
  button {
    display: none;
    border: none;
  }

  .form-horizontal {
    margin-top: 70px;
  }

  .navbar-header {
    margin-top: 50px;
    margin-left: 70px;

  }

}